<!DOCTYPE html>
<html>
    <head>
    <style>
        th,tr,td{
            border:2px solid blue;
            padding:5px;
            text-align:center;
        }
    </style>
    </head>
    <body>
        <h1 > <b>Student Details</b></h1>
        <table>
        <tr>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Course
            </th>
        </tr>
        <tr>
            <td>
               Rahul
            </td>
            <td>
                20
            </td>
            <td>
                python fullstack
            </td>

            </tr>
            <tr>
              <td>
                priya
              </td>
              <td>22
                <td>
                    data science
                </td>
              </td>
            </tr>
            </table>
    </body>