<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">
        Full Name
        <input type="text">
    </label><br>
    <label for="">
        Email
        <input type="text">
    </label><br>
    <label for="">
        Message
        <input type="text">
    </label><br>
    <button id="btn">submmit</button>
</body>
<script>
    document.getElementById('btn').addEventListener('click',process)
    function process(){
        alert('Message sent')
    }
</script>
</html>