.empcard{
    width:25vw;
    height:55vh;
    border:1px solid blue;
    float:left;
    font-size: xx-large;
    margin:20px;
    text-align: center;
}
.empcard img{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.empcard video{
    width:150px;
    height:150px;
}