

.todolist{
    position:absolute;
    top:20vh;
    left:30vw;

}
.todolist input[type=text]{
    width:40vw;
    height:6vh;
    font-size: x-large;

}
.todolist button{  
    height:6vh;
    width:10vw;
    background-color: blue;
    color: white;
    font-size: xx-large;
    border:none;
    margin: 20px;

}
.todolist ol li{
    font-size: xx-large;
    display: inline-block
}
.todolist ol button{
    height:4vh;
    width:3vw;
    background-color: red;
    color: white;
    font-size: large;


}